Repository the-bone-yard/frontend, pull requests merged in 2021-01, with the labels that each got.

#27 Nd vue2
  .eslintrc.js
  .gitignore
  jest.config.js
  package.json
  pull_request_template.md
  src/App.vue
  src/main.js
  src/router/index.js
  src/store/index.js
  tests/unit/example.spec.js
Labels: Phase 1, Vue, chore, documentation, frontend

#37 Add file structure with empty components
  src/components/ResultsItemDetails.vue
  src/components/ResultsList.vue
  src/components/ResultsListItem.vue
  src/components/ResultsMap.vue
  src/components/TheHeader.vue
  src/views/Results.vue
  src/views/Search.vue
  src/views/TheHome.vue
Labels: frontend

#40 Create TheHome and TheHeader
  src/App.vue
  src/components/HelloWorld.vue
  src/components/TheHeader.vue
  src/router/index.js
  src/views/About.vue
  src/views/Home.vue
  src/views/TheHome.vue
Labels: MVP, design, enhancement, frontend, implementation

#49 Deployment server fix
  package.json
  server.js
  static.json
Labels: bug, deployment, frontend

#51 ResultsItemDetails Component
  package.json
  src/App.vue
  src/components/ResultsItemDetails.vue
Labels: MVP, UI, bug, enhancement, frontend, implementation

#57 Results list item
  src/components/ResultsListItem.vue
  src/views/FindPark.vue
  tests/unit/ResultsListItem.spec.js
Labels: Results, enhancement, frontend, implementation

#62 Nd my parks cmp
  src/App.vue
  src/components/MyParks.vue
  src/components/ResultsItemDetails.vue
  src/main.js
  src/router/index.js
  src/views/FindPark.vue
Labels: MVP, UI, UX, enhancement, frontend

#65 Geolocation app
  src/App.vue
Labels: enhancement, frontend, geolocation, implementation

#68 Vuex
  src/App.vue
  src/components/MyParks.vue
  src/components/ResultsItemDetails.vue
  src/components/ResultsListItem.vue
  src/main.js
  src/store/index.js
  tests/unit/ResultsListItem.spec.js
Labels: Vue, documentation, enhancement, frontend

#74 Refactor getResults to remove proxy
  src/apiCalls.js
Labels: bug, fetch, frontend

#75 Marker result item
  src/components/ResultsMap.vue
Labels: UI, frontend, implementation, map, refactor

#80 Error handling
  src/components/FindPark.vue
Labels: MVP, Vue, error handling, frontend, geolocation, implementation

#81 Dynamic Routing
  src/App.vue
  src/apiCalls.js
  src/components/FindPark.vue
  src/components/ResultsItemDetails.vue
  src/components/ResultsListItem.vue
  src/router/index.js
Labels: API, Vue, frontend

#90 Map polish
  src/components/ResultsMap.vue
Labels: frontend, implementation, map, refactor

#98 Add tests for ResultsListItem
  tests/unit/ResultsListItem.spec.js
Labels: Results, frontend, testing

#106 Fix map centering
  src/components/ResultsMap.vue
Labels: bug, frontend, map, refactor

#107 Added hard coded directions
  src/components/Directions.vue
  src/components/ResultsItemDetails.vue
Labels: Results, directions, enhancement, frontend

#130 Post saved
  src/App.vue
  src/apiCalls.js
  src/components/ResultsItemDetails.vue
  src/components/ResultsListItem.vue
  src/store/index.js
Labels: API, fetch, frontend, refactor, save

#133 Directions
  src/apiCalls.js
  src/components/Directions.vue
  src/components/ResultsItemDetails.vue
  tests/unit/ResultsItemDetails.spec.js
Labels: API, UX, Vue, frontend

#134 Save post email
  src/App.vue
  src/apiCalls.js
  src/components/Email.vue
  src/components/ResultsItemDetails.vue
  src/components/ResultsListItem.vue
Labels: frontend, save

#136 Nd desktop styling
  public/favicon.ico
  src/assets/dogs_playing_home.jpeg
  src/components/FindPark.vue
  src/components/MyParks.vue
  src/components/ResultsItemDetails.vue
  src/components/ResultsList.vue
  src/components/ResultsListItem.vue
  src/components/ResultsMap.vue
  src/views/TheHome.vue
Labels: UI, UX, frontend

#147 Resize pictures ng
  src/components/ResultsItemDetails.vue
  src/views/TheHome.vue
Labels: UI, design, frontend

#150 Restructure the results to display in a grid for larger screens
  src/components/ResultsList.vue
Labels: UI, UX

#156 Bug fix for Results View
  src/components/ResultsList.vue
Labels: Results, bug, error handling, frontend
